{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script defer src="{% static 'js/script.js' %}"></script>
    <script defer src="{% static 'js/requests.js' %}"></script>
    <title>Django app</title>
  </head>
  <body>
    <!-- start header -->
    <header class="header">
      <div class="header__inner container">
        <h1 class="header__title">Django Todo-list</h1>
        <span data-idPlaceholder="" id="idPlaceholder"></span>
        <form class="todo-form">
          <div class="todo-form__group">
            <input
              name="title"
              type="text"
              class="todo-form__input"
              id="title"
              placeholder="Todo Title..."
            />
          </div>
          <div class="todo-form__group">
            <textarea name="description" id="description" class="todo-form__textarea">
    Todo Description...</textarea
            >
          </div>
          <button class="btn btn--primary" id="submit">Submit</button>
        </form>
        <div class="header__filters">
          <div class="header__filters__item">
            <select name="priority" id="priority">
              <option value="low">Low</option>
              <option value="high">High</option>
              <option value="normal">Normal</option>
            </select>
          </div>
          <div class="header__filters__item">
            <select name="status" id="status">
              <option value="pending">Pending</option>
              <option value="completed">Completed</option>
            </select>
          </div>
          <div class="header__filters__item">
            <input type="date" name="start_date" id="startDate" />
          </div>
          <div class="header__filters__item">
            <input type="date" name="end_date" id="endDate" />
          </div>
        </div>
      </div>
    </header>
    <!-- end header -->

    <!-- start body -->
    <div class="body">
      <div class="container">
        <div class="cards">
          <div class="cards__row">
            {% for data in response%}
            <div class="card">
                <div class="card__header">
                  <p>ID:{{data.pk}}<p/>
                <h3 class="card__title" id="title">{{data.fields.title}}</h3>
                <div class="card__remove-icon delete" > 
                  <span class="material-icons-outlined" data-todoid="{{data.pk}}" > clear </span>
                </div>
              </div>
              <div class="card__body">
                <p class="card__text">{{data.fields.description}}</p>
              </div>
              <div class="card__footer">
                <div class="footer__item">
                  <span class="material-icons-outlined"> timer </span>
                  {{data.fields.priority}}
                </div>
                <div class="footer__item">
                  <span class="material-icons-outlined"> offline_bolt  </span>
                  {{data.fields.status}}
                </div>
                <div class="footer__item">
                  <span class="material-icons-outlined"> event_available </span>
                Start Date:  {{data.fields.start_date}}
                </div>
                <div class="footer__item">
                  <span class="material-icons-outlined"> event_busy </span>
                 Deadline: {{data.fields.end_date}}
                </div>
              </div>
              <div class="card__dropdown" >
                <div class="card__dropdown__toggler edit__todo" >
               
                  <span class="material-icons-outlined" data-todoid="{{data.pk}}" > edit_vert </span>
                </div>
                {% comment %} <div class="card__dropdown__menu">
                  <form class="card__dropdown__form">
                    <div class="card__dropdown__form__group">
                      <input
                        type="radio"
                        name="filter_by_color"
                        id="dropdownFilterColor7"
                        class="card__dropdown__form__radio"
                      />
                      <label for="dropdownFilterColor7">Red</label>
                    </div>
                    <div class="card__dropdown__form__group">
                      <input
                        type="radio"
                        name="filter_by_color"
                        id="dropdownFilterColor8"
                        class="card__dropdown__form__radio"
                      />
                      <label for="dropdownFilterColor8">Blue</label>
                    </div>
                    <div class="card__dropdown__form__group">
                      <input
                        type="radio"
                        name="filter_by_color"
                        id="dropdownFilterColor9"
                        class="card__dropdown__form__radio"
                      />
                      <label for="dropdownFilterColor9">Green</label>
                    </div>
                  </form>
                </div> {% endcomment %}
              </div>
            </div>

  
            
            {% endfor %}


           
      </div>
    </div>
    <!-- end body -->

    <!-- start filters toggler -->
    <div class="filters-toggler">
      <div class="filters-toggler__show">
        <span class="material-icons-outlined"> filter_list </span>
      </div>
      <div class="filters-toggler__hide">
        <span class="material-icons-outlined"> clear </span>
      </div>
    </div>
    <!-- end filters toggler -->

    <!-- start filters -->
    <div class="filters">
      <div class="container">
        <div class="filters__inner">
          <ul class="filters__nav">
            <h5 class="filters__nav__title">Actions</h5>
            <li class="filters__nav__item">
              <button class="btn btn--primary">Mark All Completed</button>
            </li>
            <li class="filters__nav__item">
              <button class="btn btn--primary">Clear Completed</button>
            </li>
          </ul>
          <ul class="filters__nav">
            <h5 class="filters__nav__title">Remaining Todos</h5>
            <li class="filters__nav__item">1 item left</li>
          </ul>
          <nav class="filters__nav">
            <h5 class="filters__nav__title">Filter by status</h5>
            <form class="filter-status-form">
              <div class="filter-status-form__group">
                <input
                  type="radio"
                  id="filterStatusRadio1"
                  name="color"
                  class="filter-status-form__radio"
                />
                <label
                  for="filterStatusRadio1"
                  class="filter-status-form__label"
                  >All</label
                >
              </div>
              <div class="filter-status-form__group">
                <input
                  type="radio"
                  id="filterStatusRadio2"
                  name="color"
                  class="filter-status-form__radio"
                />
                <label
                  for="filterStatusRadio2"
                  class="filter-status-form__label"
                  >Completed</label
                >
              </div>
              <div class="filter-status-form__group">
                <input
                  type="radio"
                  id="filterStatusRadio3"
                  name="color"
                  class="filter-status-form__radio"
                />
                <label
                  for="filterStatusRadio3"
                  class="filter-status-form__label"
                  >Active</label
                >
              </div>
            </form>
          </nav>
          <nav class="filters__nav">
            <h5 class="filters__nav__title">Filter by Colors</h5>
            <form class="filter-color-form">
              <div class="filter-color-form__group">
                <input
                  type="checkbox"
                  id="filterCheck1"
                  name="color"
                  class="filter-color-form__checkbox"
                />
                <label for="filterCheck1" class="filter-color-form__label"
                  >Blue</label
                >
              </div>
              <div class="filter-color-form__group">
                <input
                  type="checkbox"
                  id="filterCheck2"
                  name="color"
                  class="filter-color-form__checkbox"
                />
                <label for="filterCheck2" class="filter-color-form__label"
                  >Red</label
                >
              </div>
              <div class="filter-color-form__group">
                <input
                  type="checkbox"
                  id="filterCheck3"
                  name="color"
                  class="filter-color-form__checkbox"
                />
                <label for="filterCheck3" class="filter-color-form__label"
                  >Green</label
                >
              </div>
            </form>
          </nav>
        </div>
      </div>
    </div>
    <!-- end filters -->
  </body>
</html>
